body {
  background-color: #edeef0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.coursecontainer {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  padding: 50px 0;
}

/* game selector */
.select-game, .submitbtn, .book-now {
  display: inline-block;
  text-align: center;

  padding: 10px 20px;
  background-color: #363F52;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.select-game:hover {
  background-color: #174FA6;
  scale: 1.05;
  transition: ease-in-out 0.2s;
}

.invisible {
  display: none;
}

.gameselector {
  position: fixed;
  top: 20%;
  left: 45%;
  width: 300px;
  z-index: 1;
  text-align: center;
  background-color: #50484844;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gameselector h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #1f2d3d;
}

.gameselector div {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f1f4fa;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  transition:ease-in-out 0.15s;
}

.gameselector div:hover {
  background-color: #e0e7ff;
}

.gameselector img {
  width: 36px;
}

.gameselector div.active {
  background-color: #d6ddff;
  border: 2px solid #C8BFE7;
}