body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.coursecontainer {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  padding: 50px 0;
}

/* game selector */
/* all button styles */
.submitbtn a{
  text-decoration: none;
  color: inherit;
}

.select-game, .submitbtn, .book-now {
  display: block; 
  margin: 10px auto 20px;
  text-align: center;

  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #22222260;
  border-radius: 15px;
  cursor: pointer;
}

.select-game:hover, .submitbtn:hover, .book-now:hover {
  background-color: #363F52;
  color: #fff;
  border-radius: 20px;
  scale: 1.05;
  transition: ease-in-out 0.2s;
}

.invisible {
  display: none;
}

.gameselector {
  position: fixed;
  top: 20%;
  left: 45%;
  width: 300px;
  z-index: 1;
  text-align: center;
  background-color: #504848cf;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gameselector h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #a1cafa;
}

.gameselector div {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f1f4fa;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  transition:ease-in-out 0.15s;
}

.gameselector div:hover {
  background-color: #e0e7ff;
}

.gameselector img {
  width: 36px;
}

.gameselector div.active {
  background-color: #d6ddff;
  border: 2px solid #C8BFE7;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  font-size: 38px;
  font-weight: bold;
  color: #e4e4e4;
}

/* coach session */
.coach-example {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 15%;
  grid-template-columns: repeat(4, 100px);
  border-radius: 15px;
  border: 1px solid #222;
  background-color: #f2efef;
  padding: 20px;
  margin: 10px 0 40px 0;
}

.coach-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.2s;
  width: 180px;
}

.coach-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}

.coach-picture {
  display: flex;
  justify-content: space-around;
}

.coach-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}



/* event */
.event-section {
  padding: 20px;
  border: 1px solid #222;
  border-radius: 15px;
  margin-top: 20px;
}

.event-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: ease-in-out 0.2s;
}

.event-card img{
  width: 250px;
  height: 150px;
}
